<style>


input[type=text], input[type=LastName]
    
{
    width: 10%;
    padding: 10px 20px;
    display: inline-block;
    border: 3px solid;

}

body {
    background-color: lightblue;
}

.button {

    background-color: #F44336;
    color: red;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 20;
}
div.static {
    position: static;
    border: 3px solid #73AD21;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
{
    float: left;
    width: 10;
    content: "";
    clear: both;
    display: table;
}


</style>